body {
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    background-color: blueviolet;
    padding: 20px;
    border-radius: 50px;
    font-family: sans-serif;
    text-decoration: none;
    color: antiquewhite;
    font-size: larger;
}
